{
	"env": {
		"es6": true,
		"browser": true,
		"jquery": true
	},
	"extends": ["airbnb", "prettier"],
	"plugins": ["prettier"],
	"rules": {
		"no-console": 1,
		"no-unused-vars": 1,
		"prettier/prettier": 2,
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-filename-extension": 0,
		"no-prototype-builtins": 0,
		"react/forbid-prop-types": 0
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": false
	}
}
