.footer {
	@include xy-grid-container($global-width);

	border-top: 1px solid $medium-gray;
	margin-top: rem-calc(60);
}

.footer-grid {
	@include xy-grid;

	padding: rem-calc(30) 0;

	section {
		@include xy-cell();

		@include breakpoint(large) {
			@include xy-cell(auto);
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

.legal-navigation {
	text-align: center;

	&__menu {
		display: inline;
		text-align: center;
		line-height: 1;
	}

	.menu-item {
		display: inline;
		line-height: 1;
		font-size: rem-calc(14);

		&:not(:first-child)::before {
			content: '';
			display: inline-block;
			height: 10px;
			width: 1px;
			background: $dark-gray;
			margin-left: -2px;
		}
	}

	a {
		display: inline-block;
		padding: 0.7rem 0.5rem;

		&:hover,
		a:focus {
			text-decoration: underline;
		}
	}
}
