//  Place things like: Footer, header, Sidebar, Contactform, Menu, etc. here.
@import 'content';
@import 'footer';
@import 'navigation';

/* Sticky Footer */
body,
.off-canvas-content {
	min-height: 100vh;
}

.off-canvas-content {
	display: flex;
	flex-direction: column;
}

.main-container {
	width: 100%;
	flex-grow: 1;
}
